.App {
  text-align: center;
}

.pokedex {
  /* position: relative; */
  border: black, 2px, solid;
  width: 400px;
  height: 100px;
}

.pokecard {
  background-color: grey;
  width: 200px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


