.App {
  text-align: center;
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.pokedex {
  width: 75%;
  display: flex;
  justify-content: center;

}

.pokecard {
  background-color: grey;
  width: 120px;
  border-radius: 1rem;
  border:  solid black 2px;
  margin: 2px;
}

.name {
  color: white;
  font-size: 1.2rem;
}


